<nav class="border-none">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600">
    <a href="/about" class="text-gray-800 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>

    <a href="#" class="text-gray-800 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>

    <a href="#" class="text-gray-800 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>

    <a href="#" class="text-gray-800 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>

    <a href="#" class="text-gray-800 border-b-2 border-blue-500 mx-1.5 sm:mx-6">Home</a>
  </div>
</nav>

<div class="grid gap-3 grid-cols-1 sm:grid-cols-2">
  <div class="h-96 border-2 border-white rounded-2xl"></div>
  <div class="h-96 border-2 border-white rounded-2xl"></div>
</div>


<footer class="border-none grid gap-5 grid-cols-2  sm:grid-cols-4 ">

  <div class="border-2 border-white rounded-2xl h-60 sm:h-72">
    <ul class="list-none pl-5 space-y-2">
     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>
    </ul>
  </div>

  <div class="border-2 border-white rounded-2xl h-60 sm:h-72">
    <ul class="list-none pl-5 space-y-2">
     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>
    </ul>
  </div>

  <div class="border-2 border-white rounded-2xl h-60 sm:h-72">
    <ul class="list-none pl-5 space-y-2">
     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>
    </ul>
  </div>

  <div class="border-2 border-white rounded-2xl h-60 sm:h-72">
    <ul class="list-none pl-5 space-y-2">
     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>

     <li><a href="#" class="text-white">Tut1</a></li>
    </ul>
  </div>

</footer>
