---
export function getStaticPaths() {
const pages = [
  
  {
    slug : undefined,
    title : 'Astro Store',
    text : 'Welcome to astro store',
  },

  {
    slug: 'products',
    title : 'Astro products',
    text : 'we have lots of products',
  },

  {
    slug:'products/astro-handbook',
    title:'The ultimate book',
    text : 'read it fucker',
  }
];

return pages.map(({ slug, title, text }) => {
    return {
      params: { slug },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
---

<html>
  <head>
    <title> {title} </title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>{text}</p>

  </body>

</html>
