---
  import '../styles/global.css'
  
---
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Basics</title>
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-black grid grid-row-2 gap-10 grid-cols-1 h-full  sm:gap-10">

    <slot />

  </body>
</html>
